@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  background: black;
  color: white;
  font-family: "poppins";
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  gap: 40px;
  img {
    max-width: 130px;
    cursor: pointer;
    object-fit: cover;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 40px;

    a {
      display: flex;
      gap: 10px;
      white-space: nowrap;
      transition: all 0.3s;
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background: rgba(83, 81, 81, 0.685);
      }
    }
  }
}

main {
  width: 100%;
  background: rgb(32, 32, 32);
}

main header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;

  form {
    display: flex;
    input {
      padding: 8px;
      border-radius: 5px 0 0 5px;
      border: none;
      outline: none;
    }
    button {
      height: 100%;
      padding: 0 20px;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      background: rgba(115, 231, 115, 0.719);
      color: white;
    }
  }

  ul {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
    font-size: 14px;
    :nth-child(4) {
      background: white;
      color: black;
    }
    li {
      padding: 5px 8px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: rgba(92, 84, 84, 0.829);
      }
    }
  }
}

main .songs {
    h2{
        padding: 20px;
    }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    .card {
      width: 160px;
      padding: 15px;
      background: #181818;
      border-radius: 6px;
      cursor: pointer;

        &:hover .play{
        bottom: 20px;
        opacity: 1;
        }
        h4{
          margin-bottom: 6px;
        }
      figure {
        position: relative;

        img {
          width: 100%;
          border-radius: 6px;
          margin-bottom: 10px;
          object-fit: cover;
        }
        .play {
          position: absolute;
          right: 10px;
          bottom: -20px;
          background: rgb(89, 236, 89);
          display: grid;
          place-items: center;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          font-size: 20px;
          color: #fff;
          opacity: 1;
          transition: all .3s;
          opacity: 0;
          &:hover{
            background: rgb(85, 161, 85);
            
          }
          
        }
      }
    }
  }
}

.playing {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px 40px;
  width: 100%;
  background-image: linear-gradient(
    113deg,
    #5c69a6 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: white;
  text-shadow: 0 0 10px black;

  .info {
    display: flex;
    align-items: center;
    gap: 30px;
    p:nth-child(1) {
      margin-bottom: 5px;
      color: black;
    }
    img {
      width: 60px;
      border-radius: 50%;
      object-fit: cover;
     
    }
  }
}

.animate{
  animation: turn 3.5s infinite linear;
}

  // Animation
@keyframes turn {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}